[defaults]
#inventory=inventory
deprecation_warnings=false
command_warnings = false
log_path = ansible.log
interpreter_python = auto
callback_whitelist = timer, profile_tasks
#gathering = smart
#fact_caching_connection = ~/facts_cache
#fact_caching = jsonfile
gathering = implicit
gather_subset = all
fact_caching_timeout = 7200
forks = 10
library = library
#module_utils = module_utils
#filter_plugin_path = plugins

[privilege_escalation] 
#ansible_connection=ssh
#ansible_user=unixspod
#ansible_become=yes
#ansible_become_user=root
#ansible_become_method='sudo su -'
#become_exe='sudo su -'
#become_ask_pass = True
#ask_pass      = True

[paramiko_connection]

[ssh_connection]
retries=3
pipelining=true
ssh_args = -C -o ControlMaster=auto -o ControlPersist=100s -o RequiredRSASize=1024 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=50
